<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TM56RY6Q9H"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-TM56RY6Q9H');
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/code.css">
    <title>{{ title }}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- PAGE LAYOUT -->
    <div class="page">

        <!-- HEADER -->
        <header class="site-header">
            <h1 class="site-title"><a href="/">jcusnxj</a></h1>
        </header>

        <!-- LEFT SIDEBAR -->
        <nav class="left-sidebar">
            {% block leftSidebar %}
            {% include "partials/navigation/sidebar-main.njk" %}
            {% endblock %}
        </nav>

        <!-- MAIN CONTENT -->
        <main class="main-content">
            <div class="main-container">
                <h2 class="page-title">{{ title }}</h2>
                {% block mainContent %}
                {{ content | safe }}
                {% endblock %}
            </div>
        </main>

        <!-- FOOTER -->
        <footer class="site-footer">
            &copy; {% year %} jcusnxj.net
        </footer>

    </div>

    <script src="/assets/js/barchart.js"></script>
    <script src="/assets/js/dropdown.js"></script>

</body>

</div>

</html>