<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="me" href="https://github.com/jcusnxj">
    <link rel="webmention" href="https://webmention.io/jcusnxj.net/webmention" />
    <link rel="pingback" href="https://webmention.io/jcusnxj.net/xmlrpc" />
    <link rel="alternate" type="application/rss+xml" title="jcusnxj" href="https://jcusnxj.net/feed.xml" />
    <title>{{ title }}</title>
</head>

<body>

        <!-- HEADER -->
        <header class="site-header">
            <div class="wrapper">
                <div class="site-title"><a href="/">jcusnxj</a></div>
                <div class="nav-header">
                    <a href="/about">About</a> 
                    <a href="/log">Log</a>
                </div>
            </div>
        </header>

        <!-- MAIN CONTENT -->
        <main class="main-content">
            <div class="wrapper">
                {% block mainContent %}
                {{ content | safe }}
                {% endblock %}
            </div>
        </main>

    <!-- FOOTER -->
    <footer class="site-footer">
            {% include "partials/footer.njk" %}
    </footer>



</body>

</html>