{% extends "views/_layouts/base.njk" %}

{% block mainContent %}
<p class="post-date">{{ page.date | dateObject("LLL d, yyyy") }}</p>

<section class="post-text">
{{ content | safe }}
</section>

{% if smallPictures %}
{% set index = 0 %}
<div class="grid">
    {% for picture in smallPictures %}
    <a href="#modal{{ index }}"><img src="{{ picture }}"></a>
    {% set index = index + 1 %}
    {% endfor %}
</div>
{% endif %}

{% if largePictures %}
{% set index = 0 %}
{% for picture in largePictures %}
<section role="dialog" class="modal-pict" id="modal{{ index }}" aria-labelledby="modal-title">
    <a class="modal-overlay-pict" href="#" tabindex="-1"></a>
    <div class="modal-content-pict">
        <a title="Close modal" aria-label="Close modal" href="#" class="modal-close-pict">&times; </a>
        <img src="{{ largePictures[index] }}">
        <p class="modal-caption-pict">Fetched from <a href="https://www.flickr.com">Flickr</a></p>
    </div>
</section>
{% set index = index + 1 %}
{% endfor %}
{% endif %}



{% include "partials/pagination.njk" %}
{% endblock %}