/* CSS RESET */

/* VARIABLES */
:root {
    --body-color: #0b132b;
    --text-color: #faf0ca;
    --link-color: #10cade;
  }

/* GLOBAL */

html {
    background-color: var(--body-color);
    color: var(--text-color);
    font-family: 'Roboto Mono', 'Bitter', system-ui, -apple-system, sans-serif;
    letter-spacing: -0.5px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/* LAYOUT */
.wrapper {
    max-width: 740px;
    margin: 0 auto;
}

