/* CSS RESET */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins */
* {
    margin: 0;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding: 0;
}

/* DEAFAULTS */

body {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Bitter', 'Open Sans', 'Roboto Mono', sans-serif;
    /* background-color:#fef3c7; */
    background-color: #091e36;
    color: whitesmoke;
}

h1, h2, h3 {
  line-height: 1.2;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.page-container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 1rem;
}

a {
  color:dodgerblue;
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

p, table, canvas {
  padding-bottom: 1rem;
}

/* SITE HEADER */
.site-header {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

hr {
  border: 0px;
  height: 1px;
  background-color: #2F3439;
}

/* MAIN CONTENT */
.main-content {
  min-height: calc(100dvh - 14rem);
}

/* FOOTER */
.site-footer {
  height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: lightslategray;
  margin-bottom: 1rem;
}

/* BLOG FEED */
.post-date {
  color: lightslategray;
  font-size: 95%;
}

.post-title {
  color:dodgerblue;
}

/* TABLES */
.table-overview {
  width: 95%;
  text-align: center;
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 95%;
  color: lightslategray;
}

.unit-cell, .data-cell {
  border-bottom: 1px solid #2F3439;
}

.unit-cell {
  font-style: italic;
  color: lightslategray;
}

.total-row {
  font-weight: bold;
}

/* PAGINATION */
.pagination {
  display:flex;
  justify-content: space-between;
  font-size: 95%;
  padding-top: 2rem;
}

.pagination a {
  text-decoration: none;
}

/* BREADCRUMB */
.crumb,
.crumb-last {
    display: inline;
    text-decoration: none;
    font-size: 95%;
}

.crumb-last {
    color: lightslategray;
}

.crumb::after {
    content: " > ";
    color: lightslategray;
}

/* RESPONSIVE */
@media (max-width: 600px) { 
  .hidden-stuff {
    display: none; 
  }

  .site-header {
    height: 5rem;
  }

  .main-content {
    min-height: calc(100dvh - 11rem);
  }

  .page-title {
    font-size: 1.5rem;
  }
}
