<div class="navigation-list">
<ul role="list" class="">
    {% set navSections = collections.all | eleventyNavigation("Notes") %}
    {% for section in navSections %}
        {% set navItems = collections.all | eleventyNavigation(section.key) %}
        <li>
            <button class="dropdown-btn">{{ section.title }}</button>
            <ul role="list" class="dropdown-container">
                {% for item in navItems %}
                    <li class="dropdown-item"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</div>