<div class="navigation-list">
{% set navPages = collections.page | eleventyNavigation %}
<ul role="list">
    {% for item in navPages %}
    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
    {% endfor %}
</ul>
</div>

{% if page.url.toString().startsWith('/note/') %}
{% include "partials/navigation/sidebar-notes.njk" %}
{% endif %}
