  <table class="table-overview">
    <thead>
      <tr class="header-row">
        <th>Date</th>
        <th>Distance</th>
        <th class="hidden-stuff">Duration</th>
        <th>Pace</th>
        <th>Avg HR</th>
        <!-- <th class="hidden-stuff">Location</th> -->
      </tr>
    </thead>
    <tbody>
      <tr class="unit-row">
        <td class="unit-cell">mm-dd</td>
        <td class="unit-cell">km</td>
        <td class="unit-cell hidden-stuff">hh:mm:ss</td>
        <td class="unit-cell">min/km</td>
        <td class="unit-cell">bpm</td>
        <!-- <td class="unit-cell hidden-stuff">link</td> -->
      </tr>
      {% set totalItems = 0 %}
      {% for item in workout | reverse %}
      {% if item.date | withinDateRange(startDate, endDate) %}
      {% set totalItems = totalItems + 1 %}
      <tr class="data-row">
        <td class="data-cell">{{ item.date | dateString }}</td>
        <td class="data-cell">{{ item.distance }}</td>
        <td class="data-cell hidden-stuff">{{ item.duration }}</td>
        <td class="data-cell">{{ item.pace }}</td>
        <td class="data-cell">{{ item.avghr }}</td>
        <!-- <td class="data-cell hidden-stuff"><a href="{{ item.garmin }}">{{ item.location }}</a></td> -->
      </tr>
      {% endif %}
      {% endfor %}

      {% set matchingRecord = null %}

      {% set endDateStr = endDate | date('yyyy-MM-dd') %}
      {% for item in monthly %}
      {% if item.eomonth == endDateStr %}
      {% set matchingRecord = item %}
      {% endif %}
      {% endfor %}

      <tr class="total-row">
        <td>{{ totalItems }} x</td>
        <td>{{ matchingRecord.distance }}</td>
        <td class="hidden-stuff">{{ matchingRecord.duration }}</td>
        <td>{{ matchingRecord.pace }}</td>
        <td>{{ matchingRecord.avghr }}</td>
        <!-- <td class="hidden-stuff">-</td> -->
      </tr>

    </tbody>
  </table>