<div class="copyright">&copy; {% year %} jcusnxj.net | <a href="/about">About</a> | <a href="/feed.xml">RSS</a></div>
<div><a href="https://xn--sr8hvo.ws/previous">← </a><a href="https://xn--sr8hvo.ws">🕸💍</a><a href="https://xn--sr8hvo.ws/next"> →</a></div>
