<table class="table-overview">
  <thead>
    <tr class="header-row">
      <th>Month</th>
      <th>Distance</th>
      <th class="hidden-stuff">Duration</th>
      <th>Pace</th>
      <th>Avg HR</th>
    </tr>
  </thead>
  <tbody>
    <tr class="unit-row">
      <td class="unit-cell">mm/yy</td>
      <td class="unit-cell">km</td>
      <td class="unit-cell hidden-stuff">hh:mm:ss</td>
      <td class="unit-cell">min/km</td>
      <td class="unit-cell">bpm</td>
    </tr>
    {% for item in monthly | reverse %}
    <tr class="data-row">
      <td class="data-cell"><a href="/log/{{ item.id }}/">{{ item.month }}</a></td>
      <td class="data-cell">{{ item.distance }}</td>
      <td class="data-cell hidden-stuff">{{ item.duration }}</td>
      <td class="data-cell">{{ item.pace }}</td>
      <td class="data-cell">{{ item.avghr }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div>
  <canvas id="myChart" data-chart='{{ monthly | jsonify  }}'></canvas>
</div>

<div>
  <canvas id="myChartHealth" data-chart='{{ monthly | jsonify  }}'></canvas>
</div>
