{% set previousPost = collections[category] | getPreviousCollectionItem(page) %}
{% set nextPost = collections[category] | getNextCollectionItem(page) %}

<section class="pagination">
  {% if previousPost %}
  <a href="{{ previousPost.url }}">< Previous</a>
  {% else %}
  <span></span> <!-- Placeholder for spacing -->
  {% endif %}

  {% if nextPost %}
  <a href="{{ nextPost.url }}">Next ></a>
  {% endif %}
</section>