{% set previousPost = collections.post | getPreviousCollectionItem(page) %}
{% set nextPost = collections.post | getNextCollectionItem(page) %}

<section class="pagination">
  {% if previousPost %}
  <a href="{{ previousPost.url }}"><< Previous</a>
  {% else %}
  <span></span> <!-- Placeholder for spacing -->
  {% endif %}

  {% if nextPost %}
  <a href="{{ nextPost.url }}">Next >></a>
  {% endif %}
</section>